.default{
background-color:black;
padding:3%;
margin: auto;
}
.background-color-primary{
background-color:#daa520;
}
.nav__link, .footer__link{
color:wheat;
}

@media only screen and (max-width: 600px) {
    .default{
        padding:7% 5% 12%;
    }
}


@media only screen and (min-width: 600px) {
    .default{
        padding:7% 5% 9%;
    }
}


@media only screen and (min-width: 768px) {
    .default{
        padding:5% 5% 7%;
    }
}


@media only screen and (min-width: 992px) {
    .default{
        padding:3% 5% 5%;
    }
}


@media only screen and (min-width: 1200px) {
    .default{
        padding:3% 5% 5%;
    }
}