.default{
/* background-color:hsla(327,11%,38%,1); */
background:conic-gradient(from 180deg at 50% 50%, #2C5060 -13.12deg, #6C5662 61.87deg, #6C5662 163.12deg, #2C5060 320.63deg, #2C5060 346.88deg, #6C5662 421.87deg);
padding:3%;
margin: auto;
}
.background-color-primary{
background-color:#daa520;
}
.nav__link, .footer__link{
color:wheat;
}
.nav__link:hover, .footer__link:hover{
color:#ffff;
}

@media only screen and (max-width: 600px) {
    .default{
        padding:7% 5% 12%;
    }
}


@media only screen and (min-width: 600px) {
    .default{
        padding:7% 5% 9%;
    }
}


@media only screen and (min-width: 768px) {
    .default{
        padding:5% 5% 7%;
    }
}


@media only screen and (min-width: 992px) {
    .default{
        padding:3% 5% 5%;
    }
}


@media only screen and (min-width: 1200px) {
    .default{
        padding:3% 5% 5%;
    }
}

.footer-bg, .menu-bg{
    background:conic-gradient(from 180deg at 50% 50%, #2C5060 -13.12deg, #6C5662 61.87deg, #6C5662 163.12deg, #2C5060 320.63deg, #2C5060 346.88deg, #6C5662 421.87deg);
}
